<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="invoices">
            <ion-icon name="mail-open-outline"></ion-icon>
        </ion-tab-button>



        <ion-tab-button tab="reports">
            <ion-icon src="assets/images/public/branding/icon-nofill.svg" style="font-size: 3rem; padding-bottom: 9px;"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="logout">
            <ion-icon name="cog-outline"></ion-icon>
        </ion-tab-button>


        <!-- <ion-tab-button tab="reports">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button> -->
    </ion-tab-bar>
</ion-tabs>



<!--
<ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="reports">
      <ion-icon name="compass"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab-conversations" class="comments">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-badge>{{'5'}}</ion-badge>
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="tab-notifications" class="notifs">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab-profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

-->