
.new-report-button {
  width: 8.5rem;
  font-weight: 700;
  --box-shadow: none !important;
}

.new-report-button.primary {
  --background: #1d2542;
}

.new-report-button.secondary {
  --color:  #1d2542;
  --background: white;
  --border-color: #1d2542;
  border: 1px solid;
  border-radius: var(--border-radius);
}
