<div class="mt-2r">


  <div class="container" style="margin-bottom: 3rem !important;">
    <div class="messages-box">
      <div class="date-separator">
        <p class="mb-0">11/08/20</p>
        <hr class="basic-hr mt-0" />
      </div>

      <div class="user-message">
        <div>
          <ion-avatar class="message-img"><ion-img src="/assets/images/public/user2.jpg"></ion-img></ion-avatar>
        </div>
        <div>
          <div class="user-info">
            <p class="mb-0 user-name">Bob Alvarez</p>
            <span class="text-muted">8:40 PM</span>
          </div>
          <p class="message">Mensaje prueba 1</p>
        </div>
      </div>

      <div class="user-message">
        <div>
          <ion-avatar class="message-img"><ion-img src="/assets/images/public/user3.jpg"></ion-img></ion-avatar>
        </div>
        <div>
          <div class="user-info">
            <p class="mb-0 user-name">Bob Alvarez</p>
            <span class="text-muted">8:40 PM</span>
          </div>
          <p class="message">Mensaje prueba 1</p>
        </div>
      </div>
    </div>
  </div>





  <div class="container message-box-container animate__animated animate__fadeInDown">
    <form>
      <div class="chat-input-container">
        <div class="row w-100">
          <div class="col-11">
            <input autocomplete="off" autofocus="" class="form-control-custom chat-input" name="texto" placeholder="Enviar mensaje" type="text">
          </div>
          <div class="col-1" style="display: flex; justify-content: center; align-items: center; padding: 0 !important;">
            <div class="custom-button">
              <!-- <i class="far fa-angle-right" style="font-weight: 800; color: white;"></i> -->
              <mat-icon style="font-size: 1rem; height: 1rem; width: 1rem; font-weight: 600; color: white;">keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
