<div class="mt-2r about">
  <div class="history-box">
    <div class="experiences mt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="experience">
            <div class="experience__organization">
              12/08/20
            </div>
            <div class="experience__time">
              &nbsp;
            </div>
            <div class="experience__info">
              <div class="experience__jobtitle">
                Cantidad modificada
              </div>
            </div>
          </div>




          <div class="experience">
            <div class="experience__organization">
              11/08/20
            </div>
            <div class="experience__time">
              &nbsp;
            </div>
            <div class="experience__info">
              <div class="experience__jobtitle">
                Reporte regresado
              </div>
            </div>
          </div>





          <div class="experience">
            <div class="experience__organization">
              10/08/08
            </div>
            <div class="experience__time">
              &nbsp;
            </div>
            <div class="experience__info">
              <div class="experience__jobtitle">
                Bob ha hecho un comentario
              </div>
              <div class="experience__period">
                <small>Comentario de Bob</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
