.report-detail-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    h3 {
        color: black;
        font-weight: 600;
        font-size: 1.3rem;
        margin-bottom: 0;
    }
    p {
        font-size: 13px;
        margin-top: 3px;
        margin-bottom: 0;
    }
}

.report-detail-list-item {
    display: flex;
    justify-content: space-between;
    color: black;
    p {
        margin-bottom: 8px;
        font-size: 13px;
    }
}

.report-detail-list-item.main-item {
    p {
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 6px;
        margin-bottom: 15px;
    }
}

.report-chips-container {
    display: flex;
    align-items: center;
    padding: 13px 16px;
    p {
        margin-bottom: 0;
        margin-right: 5px;
        font-size: 13px;
    }
    mat-chip {
        font-size: 12px;
        min-height: 27px !important;
        background-color: #f3f1f1 !important;
        .mat-standard-chip .mat-chip-remove.mat-icon {
            width: 15px !important;
            height: 15px !important;
            font-size: 15px !important;
        }
    }
}

.report-detail-container {
    background-color: #ececec;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    p,
    h3 {
        margin-bottom: 0;
    }
    h3 {
        color: black;
        font-weight: 600;
    }
    .report-section-chip {
        width: 10rem;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 9px 9px 0 0;
        margin-left: 1rem;
        font-weight: 500;
        color: black;
        height: 1.5rem;
    }
    .report-expense-container {
        background-color: white;
        padding: 13px 16px;
        margin-bottom: 1rem;
        .detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .amount {
            font-size: 1rem;
            font-weight: 600;
            color: black;
        }
    }
}

.report-close-detail-container {
    background-color: #ececec;
    .close-detail {
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
    }
    mat-icon {
        font-size: 1.3rem;
        height: 1.6rem;
        width: 1.3rem;
        font-weight: 300;
        color: black;
        background-color: white;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.upload-button {
    background-color: #1d2542;
    color: white;
    width: 100%;
    min-height: 2.5rem;
    font-weight: 600;
    font-size: 0.9rem;
}

.category-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    p {
        color: black;
        font-weight: 500;
    }
    .danger {
        color: #ac0901 !important;
    }
}

ion-fab-button {
    --background: #1d2542;
    --box-shadow: none;
}