<div class="categories-table">
  <table class="table table-striped-custom hide-for-medium m-0">

    <!-- Clients table -->
    <tbody class="table-body">
    <tr>
      <th class="th-icon categories-select-row">
        <ion-checkbox></ion-checkbox>
        <span class="ml-2">Categoría</span>
      </th>
      <td>
        <div class="categories-select-row">
          <ion-checkbox></ion-checkbox>
          <span class="ml-2">Alimentos</span>
        </div>
      </td>
      <td>
        <div class="categories-select-row">
          <ion-checkbox></ion-checkbox>
          <span class="ml-2">Hospedaje</span>
        </div>
      </td>
      <td>
        <div class="categories-select-row">
          <ion-checkbox></ion-checkbox>
          <span class="ml-2">Gasolina</span>
        </div>
      </td>
    </tr>
    <tr>
      <th class="th-icon" scope="col">
        Límite de gasto
      </th>
      <td>Texto 2</td>
      <td>Texto 2</td>
      <td>Texto 2</td>
    </tr>
    <tr>
      <th class="th-icon" scope="col">
        % que paga el cliente
      </th>
      <td>25%</td>
      <td>30%</td>
      <td>50%</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="button-container">
  <ion-button color="primary">Continuar</ion-button>
  <ion-button color="danger">Cancelar</ion-button>
</div>
